/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #007bff;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.2s;
}

nav a.active,
nav a:hover {
  color: #ff8000;
}

.routes-container {
  text-align: center;
  margin-top: 20px;
}

.routes-container p {
  font-size: 18px;
  margin-top: 20px;
}
